{extend name="public/base"}

{block name="title"}權限 - 修改{/block}

{block name="main"}
	<div class="container mt-5" id="app">
		<div class="row">
			<div class="col-md-12 mt-5 mx-0 mx-lg-5">
				<form action="{:url('/auth/'.$auth.auid)}" method="post">
					<input type="hidden" name="_method" value="put">
					<fieldset class="w-100">
						<div class="form-group row">
							<label for="auid" class="col-2 col-form-label">管理序號</label>
							<div class="col-10">
								<input type="text" id="auid" name="auid" class="form-control" value="{$auth.auid}">
							</div>
						</div>

						<div class="form-group row">
							<label for="name" class="col-2 col-form-label">管理名稱</label>
							<div class="col-10">
								<input type="text" id="name" name="name" class="form-control" value="{$auth.name}">
							</div>
						</div>

						<div class="form-group row">
							<label for="newpassword" class="col-2 col-form-label">新密碼</label>
							<div class="col-10">
								<input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="不修改密碼則不要填寫" v-model="newpwd">
							</div>
						</div>

						<div class="form-group row">
							<label for="newpasswordnot" class="col-2 col-form-label">確認密碼</label>
							<div class="col-10">
								<input type="password" id="newpasswordnot" name="newpasswordnot" class="form-control" placeholder="不修改密碼則不要填寫" v-model="pwdnot" :style="compare">
							</div>
						</div>

						<div class="form-group row">
							<label for="" class="col-2 col-form-label">權限範圍</label>
							<div class="col-10">
								{volist name="list" id="obj"}
									<div class="row ml-1">
										<label for="{$obj.rid}">
											<input type="checkbox" id="{$obj.rid}" name="role[]" value="{$obj.rid}" {in name="obj.rid" value="$roles"}checked{/in} @click="change">
											<span class="col-form-label-sm">
												{$obj.type}
											</span>
										</label>
									</div>
								{/volist}
							</div>
						</div>

						<div class="form-group row">
							<label for="" class="col-2 col-form-label"></label>
							<div class="col-10">
								<input type="checkbox" id="change" name="change" :checked.once="isChanged">
								<label for="change" class="col-form-label-sm">是否更改管理員權限？(此選項未勾選的話則不會改動)</label>
							</div>
						</div>

						<div class="form-group row">
							<label for="" class="col-2"></label>
							<div class="col-8">
								<input type="hidden" name="__token__" value="{:token()}">
								<button class="btn btn-success w-100">修改角色</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{/block}

{block name="js"}
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				newpwd: '',
				pwdnot: '',
				isChanged: false,
			},
			methods: {
				change: function(){
					this.isChanged = true
				},
			},
			computed: {
				compare: function(){
					return (this.newpwd!==this.pwdnot) ? {
						'border': 	'red solid 1px',
						'color': 	'red',
					} : ''
				},
			},
		})
	</script>
{/block}