{extend name="public/base"}

{block name="title"}權限 - 管理{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<article class="col-md-10 mt-5">
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">名稱</th>
							<th class="text-center lg-hidden">角色</th>
							<th class="text-center sm-hidden">創建時間</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" id="obj"}
						<tr>
							<td class="text-center">{$obj.auid}</td>
							<td class="text-center">{$obj.name}</td>
							<td class="lg-hidden text-center">{$obj.roles|substr=0,-3}</td>
							<td class="sm-hidden text-center">{$obj.create_time}</td>
							<td class="text-center">
								<button class="btn btn-danger btn-sm btn-delete mt-1" data-auid="{$obj.auid}">刪除</button>
								<a href="{:url('/auth/'.$obj.auid.'/edit')}?page={empty name='page'}1{else/}{$page}{/empty}" class="btn btn-warning btn-sm mt-1">修改</a>
							</td>
						</tr>
						{/volist}
					</tbody>
				</table>

				<div class="pager">
					{$list|raw}
				</div>
			</article>

			<aside class="col-md-2 mt-5">
				<a href="{:url('/auth/create')}?page={empty name='page'}1{else/}{$page}{/empty}" class="btn btn-info aside">添加權限</a href="#">
			</aside>
		</div>
	</div>
{/block}

{block name="js"}
	<script type="text/javascript">
		$('.btn-delete').click(function(){
			let auid = $(this).data('auid')
			let flag = confirm('確定要刪除'+auid+'號管理員嗎？')
			if(flag){
				$.ajax({
					url: {:url('auth/')}+auid,
					type: 'delete',
					dataType: 'text',
					success: function(e){
						alert(e)
						location.reload()
					}
				})
			}
		})
	</script>
{/block}