{extend name="public/base"}

{block name="title"}地圖 - 修改{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12 mt-5 mx-0 mx-lg-5">
				<form action="#" method="#" id="form">
					<fieldset class="w-100">
						<div class="form-group row">
							<label for="mid" class="col-3 col-md-2 col-form-label">序數</label>
							<div class="col-9 col-md-10">
								<input type="number" id="mid" name="mid" class="form-control" value="{$obj.mid}">
							</div>
						</div>

						<div class="form-group row">
							<label for="name" class="col-3 col-md-2 col-form-label">地名</label>
							<div class="col-9 col-md-10">
								<input type="text" id="name" name="name" class="form-control" value="{$obj.name}">
							</div>
						</div>

						<div class="form-group row">
							<label for="address" class="col-3 col-md-2 col-form-label">地址</label>
							<div class="col-9 col-md-10">
								<input type="text" id="address" name="address" class="form-control" value="{$obj.address}">
							</div>
						</div>

						<div class="form-group row">
							<label for="kana" class="col-3 col-md-2 col-form-label">假名</label>
							<div class="col-9 col-md-10">
								<input type="text" id="kana" name="kana" class="form-control" value="{$obj.kana}">
							</div>
						</div>

						<div class="form-group row">
							<label for="hanasi" class="col-3 col-md-2 col-form-label">出處</label>
							<div class="col-9 col-md-10">
								<input type="text" id="hanasi" name="hanasi" class="form-control" value="{$obj.hanasi}">
							</div>
						</div>

						<div class="form-group row">
							<label for="yoru" class="col-3 col-md-2 col-form-label">夜數</label>
							<div class="col-9 col-md-10">
								<select name="yoru" id="yoru" class="custom-select">
									<option value="0" {eq name="$obj.yoru" value="0"}selected{/eq}>舊怪談</option>
									<option value="1" {eq name="$obj.yoru" value="1"}selected{/eq}>第一夜</option>
									<option value="2" {eq name="$obj.yoru" value="2"}selected{/eq}>第二夜</option>
									<option value="3" {eq name="$obj.yoru" value="3"}selected{/eq}>第三夜</option>
									<option value="4" {eq name="$obj.yoru" value="4"}selected{/eq}>第四夜</option>
									<option value="5" {eq name="$obj.yoru" value="5"}selected{/eq}>第五夜</option>
									<option value="6" {eq name="$obj.yoru" value="6"}selected{/eq}>第六夜</option>
									<option value="7" {eq name="$obj.yoru" value="7"}selected{/eq}>第七夜</option>
									<option value="8" {eq name="$obj.yoru" value="8"}selected{/eq}>第八夜</option>
									<option value="9" {eq name="$obj.yoru" value="9"}selected{/eq}>第九夜</option>
									<option value="10" {eq name="$obj.yoru" value="10"}selected{/eq}>第十夜</option>
									<option value="11" {eq name="$obj.yoru" value="11"}selected{/eq}>其他</option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="img" class="col-3 col-md-2 col-form-label">圖檔</label>
							<div class="col-9 col-md-10">
								<input type="text" id="img" name="img" class="form-control" value="{$obj.img}">
							</div>
						</div>

						<div class="form-group row">
							<label for="lat" class="col-3 col-md-2 col-form-label">緯度</label>
							<div class="col-9 col-md-10">
								<input type="text" id="lat" name="lat" class="form-control" value="{$obj.lat}">
							</div>
						</div>

						<div class="form-group row">
							<label for="lng" class="col-3 col-md-2 col-form-label">經度</label>
							<div class="col-9 col-md-10">
								<input type="text" id="lng" name="lng" class="form-control" value="{$obj.lng}">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-2"></label>
							<div id="btns" class="col-8">
								<input type="hidden" name="__token__" value="{:token()}">
								<button id="upbtn" class="btn btn-success w-100">修改圖標</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{/block}

{block name="js"}
	<script type="text/javascript">
		$('#upbtn').click(function(e){
			e.preventDefault()
			var url = "{:url('/markers/'.$obj.id)}"
			var formData = $('#form').serialize()
			var back = '<a href="/markers.html?page={:request()->param(\'page\')}" id="back" class="btn btn-info w-100 mt-1">回管理</a>'
			$.ajax({
				url: url,
				type: 'put',
				dataType: 'text',
				data: formData,
				error: function(e){
					alert(e)
				},
				success: function(e){
					alert(e)
					if(e==='修改成功'){
						$('#upbtn').hide()
						$('#btns').append(back)
					}
				}
			})
		})
	</script>
{/block}