<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="怪談, 耳袋">
	<meta name="descriptions" content="新耳袋整個系列有十夜，然而中文版只印了兩夜就沒了。本網站旨在將新耳袋中的其他八夜都蒐集並翻譯，讓新耳袋更豐富的故事體系完整地呈現在大眾的面前。">
	<title>{block name="title"}{/block}</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	{css href="__CSS__/bootstrap.min.css"}
	{css href="__CSS__/style.css"}
</head>
<body>
	<header class="fixed-top">
		<nav class="navbar navbar-expand-md navbar-light bg-light p-1">
			<div class="navbar-header">
				<a href="{:url('/')}" class="navbar-brand" rel="home" title="回首頁">耳袋與怪談</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contents" aria-controls="contents" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div id="contents" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{if (null == session('admin')) AND (session('admin') == '')}
						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">新耳袋</a>
							<div class="dropdown-menu" style="left: 7vw;">
								<a href="/reader.html?kaidan=smb&yid=1" class="dropdown-item">第一夜</a>
								<a href="/reader.html?kaidan=smb&yid=2" class="dropdown-item">第二夜</a>
								<a href="/reader.html?kaidan=smb&yid=3" class="dropdown-item">第三夜</a>
								<a href="/reader.html?kaidan=smb&yid=4" class="dropdown-item">第四夜</a>
								<a href="/reader.html?kaidan=smb&yid=5" class="dropdown-item">第五夜</a>
								<a href="/reader.html?kaidan=smb&yid=6" class="dropdown-item">第六夜</a>
								<a href="/reader.html?kaidan=smb&yid=7" class="dropdown-item">第七夜</a>
								<a href="/reader.html?kaidan=smb&yid=8" class="dropdown-item">第八夜</a>
								<a href="/reader.html?kaidan=smb&yid=9" class="dropdown-item">第九夜</a>
								<a href="/reader.html?kaidan=smb&yid=10" class="dropdown-item">第十夜</a>
							</div>
						</li>
						<li class="nav-item">
							<a href="/reader.html?kaidan=fkd" class="nav-link">舊怪談</a>
						</li>
					{else/}
						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">新耳袋</a>
							<div class="dropdown-menu" style="left: 7vw;">
								<a href="/smb.html?yid=1" class="dropdown-item">第一夜</a>
								<a href="/smb.html?yid=2" class="dropdown-item">第二夜</a>
								<a href="/smb.html?yid=3" class="dropdown-item">第三夜</a>
								<a href="/smb.html?yid=4" class="dropdown-item">第四夜</a>
								<a href="/smb.html?yid=5" class="dropdown-item">第五夜</a>
								<a href="/smb.html?yid=6" class="dropdown-item">第六夜</a>
								<a href="/smb.html?yid=7" class="dropdown-item">第七夜</a>
								<a href="/smb.html?yid=8" class="dropdown-item">第八夜</a>
								<a href="/smb.html?yid=9" class="dropdown-item">第九夜</a>
								<a href="/smb.html?yid=10" class="dropdown-item">第十夜</a>
							</div>
						</li>
						<li class="nav-item">
							<a href="/fkd.html" class="nav-link">舊怪談</a>
						</li>
					{/if}
					<li class="nav-item">
						<a href="/map.html" class="nav-link" title="用來標記書中所提到的地點，以便日後實證考察">地圖</a>
					</li>
				</ul>
			</div>

			{if (null == session('admin')) AND (session('admin') == '')}
				<a href="#" class="nav-link text-dark mr-1" data-toggle="modal" data-target="#login">登錄</a>
			{else/}
				<div class="nav-item dropdown admin mr-5">
					<a href="#" class="dropdown-toggle nav-link text-dark" data-toggle="dropdown">{:session('admin')}</a>
					<div class="dropdown-menu">
						<a href="/auth.html" class="dropdown-item">權限管理</a>
						<a href="/role.html" class="dropdown-item">角色管理</a>
						<a href="/bulletin.html" class="dropdown-item">佈告管理</a>
						<a href="/markers.html" class="dropdown-item">地圖管理</a>
						<a href="/logout" id="logout" class="dropdown-item">退出</a>
					</div>
				</div>
			{/if}
		</nav>
	</header>

	<div id="login" class="modal mt-5">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5>登錄</h5>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post" id="logform">
						<div class="form-group">
							<label for="name">管理名稱</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="請輸入管理名稱">
						</div>

						<div class="form-group">
							<label for="password">管理密碼</label>
							<input type="password" id="password" name="password" class="form-control" placeholder="請輸入管理密碼">
						</div>

						<div class="form-group">
							<label class="mt-3" style="position: relative;top:-10px;">{:captcha_img()}</label>
							<input type="text" id="captcha" name="captcha" class="form-control" placeholder="請輸入驗證碼">
						</div>

						<div class="form-group">
							<input type="hidden" name="__token__" value="{:token()}">
							<!-- <button class="btn btn-success w-100">登錄</button> -->
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="logger" class="btn btn-success">登錄</button>
					<button class="btn btn-secondary" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<div id="line" class="modal mt-5">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5>加入Line聊天</h5>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="/static/img/line.jpg" width="100%">
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>

	{block name="main"}{/block}

	<footer class="text-center text-lg-start bg-dark text-light mt-5">
		<section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
			<div class="mr-5 d-none d-lg-block">
				<span class="font-weight-bold ml-4">聯繫方式和其他產品：</span>
			</div>
			<div>
				<a href="#" class="mr-4 text-reset" data-toggle="modal" data-target="#line">
					<i class="fab fa-line fa-2x"></i>
				</a>
				<a href="https://github.com/Piotr1103" class="mr-4 text-reset">
					<i class="fab fa-github fa-2x"></i>
				</a>
			</div>
		</section>

		<section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
			<div class="container text-center text-md-start mt-3">
				<div class="row">

					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4">
							<i class="fas fa-ghost mr-3"></i> 關於本協會
						</h6>
						<p class="text-left">
							&emsp;&emsp;本協會致力於推廣日本筆記小說家 – 根岸鎮衛(1737-1815)的作品【耳袋】及其現代衍生作品【新耳袋】(中山市朗、木原浩勝)。
						</p>
					</div>

					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4 mt-lg-0 mt-5">
							相關連結
						</h6>
						<p>
							<a href="https://youkai.fandom.com/wiki/%E9%A6%96%E9%A0%81" class="text-reset">妖怪煉成陣</a>
						</p>
						<p>
							<a href="https://blog.xuite.net/ultraman_csu/twblog/163051256" class="text-reset">新耳袋 與 怪談新耳袋 華人最大 討論版</a>
						</p>
					</div>

					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4 mt-lg-0 mt-5">
							其他產品
						</h6>
						<p>
							<a href="https://wenyun.000webhostapp.com" class="text-reset">個人文書網站</a>
						</p>
						<p>
							<a href="http://www.domiczeskij.byethost7.com" class="text-reset">家庭計畫網站</a>
						</p>
					</div>

					<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4 mt-lg-0 mt-5">
							聯繫方式
						</h6>
						<div class="ml-5 ml-md-0 ml-lg-0 text-center">
							<div class="ml-3 pl-3 ml-md-0 pl-md-0 ml-lg-5 pl-lg-0 text-left">
								<p><i class="fas fa-home mr-1"></i>&emsp;XX市OO區</a></p>
								<p><i class="fas fa-envelope mr-1"></i>&emsp;<a href="mailto:puyanjia92@gmail.com">寫信給我</a></p>
								<p><i class="fas fa-phone mr-1"></i>&emsp;0980013155</p>
								<p><i class="fas fa-print mr-1"></i>&emsp;04-22738423</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
			<p>© 耳袋推廣協會 - 本網站僅是愛好者個人作品，未直接營利，若有侵權請聯絡，必定妥善處理 - {:date('Y')}</p>
		</div>
	</footer>

	{js href="__JS__/jquery-3.3.1.min.js"}
	{js href="__JS__/bootstrap.bundle.min.js"}
	{js href="__JS__/vue-2.6.14.min.js"}
	{js href="__JS__/keyboard.js"}
	{block name="js"}{/block}
	<script type="text/javascript">
		$('#logger').click(() => {
			var url = "{:url('/login_check')}"
			var formData = $('#logform').serialize()
			$.ajax({
				url: url,
				method: 'POST',
				dataType: 'text',
				data: formData,
				success: function(){
					location.reload()
					$('#login').modal('toggle')
				}
			})
		})
		$('#logout').click(() => {
			$.get('/logout', function(){
				location.reload()
			})
		})
		$('#captcha').keyup((e) => {
			if(e.keyCode==13){
				$('#logger').click()
			}
		})
	</script>
</body>
</html>