{extend name="public/base"}

{block name="title"}佈告欄 - 閱覽{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<article class="col-md-10 mt-5">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center sm-hidden">創建時間</th>
							<th class="text-center">標題</th>
							<th class="text-center lg-hidden">概要</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						{assign name="empty" value='<tr><td class="text-center text-danger" colspan="5">沒有數據！</td></tr>'}
						{volist name="list" id="obj" empty="$empty"}
							<tr>
								<td class="text-center">{$obj.bid}</td>
								<td class="sm-hidden text-center">{$obj.create_time}</td>
								<td class="text-center">{$obj.title|mb_strimwidth=0,10,'……'}</td>
								<td class="lg-hidden text-left lghidden">{$obj.content|mb_strimwidth=0,10,'……'}</td>
								<td class="text-center">
									<!-- 由於在RoleModel中已將rid設為主鍵，故必須將rid傳給控制器的delete方法方能刪除 -->
									<button class="btn btn-danger btn-delete btn-sm mx-3 mx-md-1 mt-1 mt-lg-0" data-id="{$obj.id}">刪除</button>
									<a href="{:url('/bulletin/'.$obj.id.'/edit')}?page={empty name='page'}1{else/}{$page}{/empty}" class="btn btn-warning btn-sm mx-3 mx-md-1 mt-1 mt-lg-0">修改</a>
									<a class="btn btn-{eq name='obj.status' value='0'}warning{else/}success{/eq} btn-sm text-light status-toggle mx-3 mx-md-1 mt-1 mt-lg-0" data-id="{$obj.id}">狀態</a>
								</td>
							</tr>
						{/volist}
					</tbody>
				</table>

				<div class="pager">
					{$list|raw}
				</div>
			</article>

			<aside class="col-md-2 mt-lg-5">
				{if (null != session('admin')) AND (session('admin') != '')}
					<a href="{:url('bulletin/create')}?page={empty name='page'}1{else/}{$page}{/empty}" class="btn btn-info aside">添加文章</a><hr>
				{/if}
			</aside>
		</div>
	</div>
{/block}

{block name="js"}
	<script type="text/javascript">
		$('.btn-delete').click(function(){
			let id = $(this).data('id')
			let flag = confirm('確定要刪除第'+id+'號佈告嗎？')
			if(flag){
				$.ajax({
					url: {:url('bulletin/')}+id,
					type: 'delete',
					dataType: 'text',
					success: function(e){
						alert(e)
						location.reload()
					}
				})
			}
		})
		$('.status-toggle').click(function(){
			let id = $(this).data('id')
			$.get('bulletin/restat/id/'+id, function(e){
				alert(e)
				location.reload()
			})
		})
	</script>
{/block}