{extend name="public/base"}

{block name="title"}耳袋與怪談{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<article class="col-md-10 mt-5">
				{volist name="cont" id="obj"}
					<div class="border border-info rounded m-5 p-5 shadow">
						<h2 class="text-center mb-5">{$obj.title}</h2>
						{$obj.content|raw}
						<p class="text-right text-sm">{$obj.create_time}</p>
					</div>
				{/volist}

				<div class="pager">
					{$cont|raw}
				</div>
			</article>

			<aside class="col-md-2 mt-5">
				{$aside|raw}
			</aside>
		</div>
	</div>
{/block}