{extend name="public/base"}

{block name="title"}新耳袋 - 新增文章{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12 mt-5 mx-0 mx-lg-5">
				<form action="{:url('/smb')}?page={:request()->param('page')}" method="post">
					<fieldset class="w-100">
						<div class="form-group row">
							<label for="tid" class="col-2 col-form-label">序數</label>
							<div class="col-10">
								<input type="text" id="tid" name="tid" class="form-control" placeholder="請輸入序數" value={$tid+1}>
							</div>
						</div>

						<div class="form-group row">
							<label for="yid" class="col-2 col-form-label">夜數</label>
							<div class="col-10">
								<input type="text" id="yid" name="yid" class="form-control" placeholder="請輸入夜數">
							</div>
						</div>

						<div class="form-group row">
							<label for="cid" class="col-2 col-form-label">章數</label>
							<div class="col-10">
								<input type="text" id="cid" name="cid" class="form-control" placeholder="請輸入章數">
							</div>
						</div>

						<div class="form-group row">
							<label for="sid" class="col-2 col-form-label">回數</label>
							<div class="col-10">
								<input type="text" id="sid" name="sid" class="form-control" placeholder="請輸入回數">
							</div>
						</div>

						<div class="form-group row">
							<label for="status" class="col-2 col-form-label">狀態</label>
							<div class="col-10">
								<label for="zero" class="col-form-label-sm">
									<input type="radio" id="zero" name="status" value="0" checked>待審核
								</label>
								&emsp;
								<label for="one" class="col-form-label-sm">
									<input type="radio" id="one" name="status" value="1">已公開
								</label>
							</div>
						</div>

						<div class="form-group row">
							<label for="title" class="col-2 col-form-label">標題</label>
							<div class="col-10">
								<input type="text" id="title" name="title" class="form-control" placeholder="請輸入標題">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-12">
								<textarea id="content" name="content" class="form-control"></textarea>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-2"></label>
							<div class="col-8">
								<input type="hidden" name="__token__" value="{:token()}">
								<button class="btn btn-success w-100">插入文章</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{/block}

{block name="js"}
	<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
	<script type="text/javascript">
		CKEDITOR.replace('content')
	</script>
{/block}