{extend name="public/base"}

{block name="title"}閱覽{/block}

{block name="main"}
	<div class="container mt-5">
		<div class="row">
			<article class="col-md-10 mt-5">
				{assign name="empty" value="<div class="card bg-light text-dark mb5"><div class="card-header bg-danger p-3"><div class="card-body"></div><div class="card-footer"></div></div></div>"}
				{volist name="list" id="obj" empty="$empty"}
					<div class="card bg-light text-dark mb-5">
						<div class="card-header {eq name='$obj.sid' value='0'}bg-success{else/}bg-primary{/eq} p-3">
							<h3 class="text-center text-light">{$obj.title}</h3>
						</div>
						<div class="card-body">
							{$obj.content|raw}
						</div>
						<div class="card-footer">
							{$obj.create_time}
						</div>
					</div>
				{/volist}

				<div class="pager">
					{$list|raw}
				</div>
			</article>

			<aside class="col-md-2 mt-lg-5">
				{if (null != session('admin')) AND (session('admin') != '')}
					<a href="{:url('/create_smb')}" class="btn btn-info">添加文章</a>
				{/if}
				{volist name="caps" id="obj"}
					<a href="#" class="btn btn-success text-left mt-2">{$obj.title}</a>
				{/volist}
			</aside>
		</div>
	</div>
{/block}